
/* How To Use */
.how-container {
    height: 25vw;
    margin: 6rem 15rem; 
  }
  
  .left-container {
    float: left;
    height: 25vw;
    width: 50%;
  }

  .left-content > div{
    height: auto;
  }
  
  .right-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 25vw;
    background: #fff;
    width: 50%;
    float: left;
  }
  
  .left-content {
    width: 100%;
    height: 21vw;
  }
  
  .right-content {
    width: 100%;
    margin: 0 6rem;
  }
  
  
  @media screen and (max-width: 999px) {
    .how-container {display: block; width: 100%; height: auto; text-align: center; margin: 0 auto 60px auto;}
    .left-container  {display: block; width: 100%; height: auto; float: none; text-align: center; margin: 15px auto 0px auto;}
    .right-container {display: block; width: 100%; height: auto; float: none; text-align: center; margin: 15px auto 0px auto;}
    .left-content {display: block; width: 100%; height: auto; float: none; text-align: center; margin: 15px auto 0px auto;}
    .right-content {display: block; width: 100%; height: auto; float: none; text-align: center; margin: 15px auto 0px auto; max-width: 90%;}
  }
    
  